*.pyc
.Python
.DS_Store
.idea
build
lib
include
src
bin
_media
longnosebros/exported
local_settings.py
share
_static_root
logs
*.komodoproject
analytics.dat
.vagrant
.env
design_resources
venv
db.sqlite3
