amqp==2.6.1
asgiref==3.4.1
beautifulsoup4==4.7.1
billiard==3.6.4.0
bleach==3.1.0
boto3==1.16.63
botocore==1.19.63
cachetools==4.2.4
celery==4.3.0
certifi==2021.10.8
cffi==1.15.0
chardet==3.0.4
chargebee==2.6.4
Collectfast==1.0.0
confusable-homoglyphs==3.2.0
cryptography==36.0.1
cssmin==0.2.0
customerio==0.5.1
Deprecated==1.2.13
dj-database-url==0.5.0
Django==2.1.7
django-ace==1.0.5
django-bootstrap3==11.0.0
django-compat==1.0.15
django-contrib-comments==1.9.1
django-extensions==2.1.9
django-heroku==0.3.1
django-hijack==2.1.10
django-hijack-admin==2.1.10
django-localflavor==2.2
django-multiselectfield==0.1.12
django-on-heroku==1.1.2
django-pipeline==1.6.14
django-redis==4.10.0
django-registration==3.0
django-simple-geo==0.4.3
django-simple-socialauth==2.0.0
django-simple-templates==0.7.1
django-storages==1.8
django-summernote==0.8.11.6
django-taggit==1.1.0
django-webp==1.0.11
djangorestframework==3.9.4
elasticsearch==7.16.2
elasticsearch-dsl==7.4.0
esdocs==0.6.2
facebook-sdk==3.1.0
geoip2==2.9.0
gevent==1.4.0
gipc==1.1.1
google-api-python-client==1.7.9
google-auth==2.3.3
google-auth-httplib2==0.1.0
greenlet==0.4.15
gunicorn==19.9.0
html5lib==1.0.1
httpagentparser==1.9.0
httplib2==0.20.2
idna==2.8
importlib-metadata==4.10.0
isodate==0.6.0
jmespath==0.10.0
kombu==4.6.11
mailchimp3==3.0.7
maxminddb==2.2.0
mixpanel==4.4.0
oauth2client==4.1.3
oauthlib==3.1.1
packaging==21.3
Pillow==7.0.0
psycogreen==1.0.1
psycopg2==2.7.5
psycopg2-binary==2.9.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==21.0.0
pyparsing==3.0.6
python-dateutil==2.8.0
python-dotenv==0.19.2
python-gflags==3.1.2
python-stdnum==1.17
pytz==2019.1
redis==4.1.0
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.8
s3transfer==0.3.7
six==1.16.0
sorl-thumbnail==12.5.0
soupsieve==2.3.1
sqlparse==0.4.2
typing==3.7.4.3
typing_extensions==4.0.1
uritemplate==3.0.1
urllib3==1.25.11
vine==1.3.0
webencodings==0.5.1
whitenoise==5.3.0
wrapt==1.13.3
xlrd==2.0.1
xlutils==2.0.0
xlwt==1.3.0
zipp==3.7.0
